body {
	display: grid;
	grid-template-columns: 25% 25% 50%;
	grid-template-rows: repeat(3, 150px);
}

.A{
	grid-column:1/3;
	grid-row:1/2;
	background:red;
}

.B{
	grid-column:3/4;
	grid-row:1/2;
	background:blue;
}

.C{
	grid-column:1/2;
	grid-row:2/3;
	background:gray;
}

.D{
	grid-column:2/4;
	grid-row:2/3;
	background:purple;
}

.E{
	grid-column:1/4;
	grid-row:3/4;
	background: yellow;
}